.navbar {
  background-color: #2d5a9e;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #2d5a9e;
  width: 250px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -100%;
  transition: left 250ms;
}

/* hiding menu bar */
.nav-menu.active {
  left: 0;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: px 10px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  width: 100%;
  height: 110%;
  display: flex;
  align-items: center;
  padding: 0% 10%;
}

/* nice visual effect when hovering over a menu bar item */
.nav-text a:hover {
  background-color: #172d52;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #2d5a9e;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.span {
  margin-left: 16px;
}
