* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.main {
  padding-top: 3%;
  padding-left: 23vw;
  padding-right: 10vw;
  padding-bottom: 5%;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: justify;
  word-wrap: break-word;
  hyphens: auto;
}

.main h1 {
  font-size: max(3vw, 15pt);
}

.main p,
.main span,
.main th,
.main td,
.main h3 {
  font-size: max(1.3vw, 10pt);
}

.main input {
  margin-left: 10px;
  margin-right: 10px;
  width: max(3vw, 30px);
  height: max(1.5vw, 20px);
}

.main th,
.main td {
  padding-left: 30px;
  text-align: center;
}

.main svg {
  width: inherit;
}

.main button {
  margin-right: 1%;
}

.smallSpace {
  height: 15px;
}

.space {
  height: 50px;
}

.task,
.taskLeft,
.taskRight,
.taskRightScroll {
  display: inline-block;
}

.task {
  width: 100%;
}

.taskLeft {
  width: 48%;
  float: left;
  margin-right: 2%;
}

.taskLeftScroll {
  float: left;
  top: 5%;
  width: 48%;
  position: sticky;
  margin-right: 2%;
}

.taskRight {
  width: 48%;
  margin-left: 2%;
}

.taskRightScroll {
  top: 5%;
  width: 48%;
  position: sticky;
  margin-left: 2%;
}

.infoBox {
  text-align: justify;
  max-height: max(3.2vw, 34px);
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}

.infoBox.active {
  height: auto;
  max-height: 600px;
  transition: max-height 0.2s ease-in;
}

.infoIcon {
  text-align: center;
  height: max(3.2vw, 34px);
  color: #2d5a9e;
}

.infoIcon svg {
  height: max(2.8vw, 30px);
}

.main svg {
  text-align: center;
  width: 100%;
}

.squareGraphics {
  text-align: center;
  width: inherit;
  height: inherit;
}

.EDE {
  padding-top: 13px;
}

.graphGrid {
  padding-top: 5%;
  position: relative;
  height: 900px;
  width: inherit;
}

.row {
  margin-top: 1%;
  width: inherit;
  height: 15%;
  text-align: center;
}

.node0,
.node1,
.node2 {
  border-width: 0.1vw;
  margin: 1%;
  height: 80%;
  width: 8%;
  font-size: 80%;
  border-radius: 50%;
  color: #000000;
  border-color: #000000;
}

.example1 {
  text-align: center;
  margin-top: 3%;
}

.node0 {
  background-color: #2d5a9e52;
}

.node1 {
  background-color: #44ffb1;
}

.node2 {
  background-color: #ff9b9b;
}

.nodeToggle {
  border-width: 0.5vw;
}

.squareRow {
  width: inherit;
  height: 15%;
  text-align: center;
}

.squareBit,
.squareBit1 {
  border-width: 1px;
  height: inherit;
  width: 10%;
  font-size: 100%;
  color: #000000;
  border-color: #000000;
}

.activeSquare,
.inactiveSquare {
  border-width: 1px;
  height: 30%;
  width: 6%;
  font-size: 1.6vw;
  color: #000000;
  border-color: #000000;
}

.activeSquare,
.squareBit {
  background-color: #e9e9e9;
}

.inactiveSquare,
.squareBit1 {
  background-color: #2d5a9e52;
}

.toggleSquare {
  border-width: 0.4vw;
  border-color: #2d5a9e;
}
